<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>mySQL&html</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>前后端交互对MySQL的增删改查</h1>
        <input type="text" v-model="newItem" placeholder="请输入新项目名">
        <button @click = "addItem">添加项目</button>
        <ul>
            <li v-for="item in items" :key="item.id">
                {{item.name}}
                <button @click = "deleteItem(item.id)">删除</button>
                <input type = "text" v-model = "updateItem[item.id]" placeholder="请输入修改的项目">
                <button @click="updateNewItem(item.id)">修改</button>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                newItem: '',
                items: [],
                updateItem:{} // 修改的元素
            },
            // 创建好Vue实例就调用fetchItems
            mounted(){
                this.fetchItems();
            },
            methods:{   
                // 发送请求到数据库，展示信息
                fetchItems(){
                    axios({
                        method: 'get',
                        url: 'http://localhost:5000/api/items'
                    }).then((response) =>{
                        // 成功响应时执行的操作
                        console.log(response.data);
                        this.items = response.data
                    }).catch((error) =>{
                        // 错误处理
                        console.log('获取数据出错', error)
                    });
                },
                addItem(){
                    axios({
                        method:"post",
                        url:'http://localhost:5000/api/items',
                        data:{name:this.newItem}
                    }).then((response) => {
                        // 把添加成功的元素添加到items后面
                        console.log(response.data);
                        this.items.push(response.data);
                        // 清空输入框
                        this.newItem = ''
                    }).catch((error) => {
                        console.log('添加数据出错',error)
                    });
                },
                deleteItem(deleteId){
                    axios({
                        method:"delete",
                        url:`http://localhost:5000/api/items/${deleteId}`,
                    }).then(() => {
                        // 把添加成功的元素添加到items后面
                        this.fetchItems();
                    }).catch((error) => {
                        console.log('删除数据出错',error)
                    });
                },
                updateNewItem(updateId){
                    let newName = this.updateItem[updateId];
                    axios({
                        method:"put",
                        url:`http://localhost:5000/api/items/${updateId}`,
                        data:{name: newName}
                    }).then(() => {
                        // 把添加成功的元素添加到items后面
                        this.updateItem[updateId]='';
                        this.fetchItems();
                    }).catch((error) => {
                        console.log('修改数据出错',error)
                    });
                }
            }
        });
    </script> 
</body>

</html>
